@tailwind base;
@tailwind components;
@tailwind utilities;

.rsc {
  display: flex !important;
  align-items: center !important;
  padding-top: 7% !important;
  justify-content: center !important;
}

.rsc-ts-bubble {
  max-width: 78% !important;
}

.rsc-os-options {
  padding-left: 3rem !important;
}

.rsc-os-option-element {
  background-color: #3d0099 !important;
  font-weight: bold !important;
}
